{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Password reset successful</h2>
    <p>Your password has been reset successfully. You can now <a href="{% url 'login' %}">login</a> using your new password.</p>
    <p>Thank you for using our service!</p>
  </div>
{% endblock %}

{% block css %}
  <style>
    .container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    h2 {
      font-size: 32px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    a {
      color: #007bff;
      text-decoration: underline;
    }

    a:hover {
      color: #0056b3;
      text-decoration: none;
    }
  </style>
{% endblock %}
