{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
<!--{% load crispy_forms_tags %}-->
{% crispy example_form example_form.helper %}

{%  block title %}
homepage

{% endblock %}
{% block content %}

{% csrf_token %}
<!--<h1>i am dashboard</h1>-->
<script src="{% static 'js/dashboard.js' %}"></script>
<div class="modal fade" id="add_member_model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="noteModalLabel">Add member to the group <span id="group name"></span> </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height:170px">
                <div class="row">
                    <div class="col">
                        Member :<span id = "select_memb1"></span>

                    </div>

                    <div class="col">
                         <div id="autocomplete1" class="autocomplete" style="width:100%; margin:40px auto;">
                            <input class="autocomplete-input" />
                            <ul id="ull" class="autocomplete-result-list" style="color:red;"></ul>
                        </div>

                    </div>


                </div>


               <!--                    <input type="submit" value=Submit>-->

            </div>
            <div class="modal-footer">

                <button id = "add_member"  class="btn btn-primary">Add member</button>

            </div>

        </div>
    </div>
</div>

<style>



</style>
<script src="{% static 'js/dashboard.js' %}"></script>
<div class="container" style="text-align:center;margin:0 auto">
    <div class="row">


        <div class="col-3 card_card">
            <b>Total num of task :</b>
            <hr>
            <a id ="total_count"  href="{% url 'total_task' %}"></a>


        </div>
        <div class="col-2 card_card">
            <b>Remaining tasks :</b>
            <hr>
            <a id ="uncompleted_count"  href="{% url 'homepage' %}"></a>

        </div>

        <div class="col-2 card_card">
            <b>Completed task :</b>
            <hr>
            <a id ="Completed_count" href="{% url 'completed_tasks_page' %}"></a>

        </div>


        <div class="col-2 card_card">
            <b>Interrupted task :</b>
            <hr>
            <a id ="interrupted_task"  href="{% url 'interrupted_tasks' %}" ></a>

        </div>

    </div>
    <hr>

    <div class="row" style="border:2px solid black;height:450px; ">

        <div class="col-2" style="border:1px solid yellow; background-color:#DC3545;">

            <div class="box-1" >
                <div class="btn btn-one manage" >
                    <span >Manage Your Group</span>
                </div>
            </div>

            <div class="box-1">
                <div class="btn btn-one create">
                    <span onclick="create_group_layout()">Create Group</span>
                </div>
            </div>
            <div class="box-1">
                <div class="btn btn-one view_groups">
                    <span>View Group</span>
                </div>
            </div>
            <div class="box-1">
                <div class="btn btn-one delete">
                    <span>Delete Group</span>
                </div>
            </div>
            <div class="box-1">
                <div class="btn btn-one assign_task">
                    <span>Assign task</span>
                </div>
            </div>




        </div>
        <div class="col" style="border:1px solid Yellow">
            <div class="dashboard_group">
                <!--{% if category == "create_group" %}-->


                <!--{% endif %}-->
            </div>


        </div>





    </div>



</div>

{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
{% endblock %}


{% block script %}


<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}
