{% extends 'base.html' %}

{% block content %}
<div style="border:8px dotted red;
                    border-radius:30px;
                    width:30%;
                    margin:0 auto;
                    text-align:center;
                     margin: 0;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      min-height:40%;

                    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
                    background: rgba(250,3,8, 0.2);
                 color: black;">
 <h2>Password reset</h2>
 <div style="margin-top:10px">

  {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Error:</strong> Please correct the errors below.
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Reset password</button>
  </form>
 </div></div>
{% endblock %}




