{% extends "base.html" %}
{% load static %}


{%  block title %}
TotalTasks

{% endblock %}

{% block content %}

<div class="heading" style="text-align:center;background-color:rgb(13 240 54 / 23%);" >
    <div class="row">
        <div class="col">



        </div>
        <div class="col-5">
            <b style="font-size:17px">Total Assigned Tasks </b>

        </div>

        <div class="col">
            <!--<button class="btn btn-primary btn-sm">Edit mode</button>&nbsp;-->
            <!--<button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Task</button>-->

        </div>


    </div>






</div>
<div class="tab2" style="font-size:12px;margin:20px">



</div>



{% endblock %}


{% block script %}


<!--<script src="{% static 'js/completed_task.js' %}"></script>-->
<script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.jqueryui.min.js' %}"></script>
<script src="{% static 'js/total_task.js' %}"></script>

<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
{% endblock %}

